@charset 'utf-8';/* CSS Reset */
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{line-height:1.5;-webkit-font-smoothing:antialiased;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
abbr,acronym{border:0;font-variant:normal;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
code,kbd,samp,tt{font-size:100%;}
input,button,textarea,select{*font-size:100%;vertical-align:middle;}
ol,ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
sup,sub{font-size:100%;vertical-align:baseline;}
i{font-style:normal;}
:focus{outline:0;}
:link,:visited,ins{text-decoration:none;}
a,a:link,a:visited{color:#333;}
a:hover{color:#db5629;text-decoration:underline;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"\0020";content:none;}
a{cursor:pointer;}
.gray{color:#ccc}
.yellow{color:#ffb900}
.red{color:#c02100}
.blur{color:#1eb2d5}
.green{color:#2fbf2b}
.txtca8{color:#ca8921}
.gray6,.gray6 a:link,.gray6 a:visited{color:#666;}
.gray6 a:hover{color:#db9224;}
.orange,a.orange,.orange a:link,.orange a:visited{color:#fd6c01}
a.orange:hover,.orange a:hover{color:#bb451d;}
.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.none{display:none;}
/* CSS Global */
body{font-family:"Microsoft YaHei",\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,Helvetica;font-size:12px;background:#f3f4f8;}
.clearfix:after,.ui-wrapper:after{content:"\200B";display:block;height:0;clear:both;}
.clearfix,.ui-wrapper{*zoom:1;}
.ui-loading{position:fixed;_position:absolute;left:50%;top:50%;z-index:99999;display:none;width:15em;height:auto;padding:1.25em;margin-left:-7.75em;margin-top:-5.735em;opacity:.88;filter:Alpha(Opacity=88);background-color:#2a2a2a;border-radius:.3125em;-moz-border-radius:.3125em;-webkit-border-radius:.3125em;}
.ui-loading .ui-loading-icon{display:block;width:2.75em;height:2.75em;padding:.0625em;margin:0 auto .625em;opacity:.75;filter:Alpha(Opacity=75);background-color:#000;border-radius:2.25em;-moz-border-radius:2.25em;-webkit-border-radius:2.25em;background-size:2.875em 2.875em;}
.ui-loading h3{color:#FFF;font-size:1.2em;text-align:center;padding:0;margin:0;}
.ui-header{background-color:#FFF;border-style:solid;border-color:#e5e5e5;border-width:0 0 1px;}
.ui-main{padding:10px 0;}
.ui-footer{position:relative; font-size:14px;color:#CCC;background-color:#333;padding:20px 0;}
.ui-footer a, .ui-footer a:link, .ui-footer a:visited{color:#CCC;}
.ui-wrapper{/* position:relative; */margin-left:auto;margin-right:auto;width:960px;}
.ui-left{float:left;}
.ui-right{float:right;}


/* CSS Dialog */
.ui-mask{
    position:fixed;_position:absolute;z-index:99990;
    left:0;top:0;right:0;bottom:0;
    width:100%;height:100%;
    background-color:#333;
    filter:alpha(opacity=30);
    opacity: .3;
}
.ui-dialog{
    position:fixed;_position:absolute;left:50%;top:50%;z-index:99999;
    margin-left:-230px;margin-top:-140px;
    min-width:460px;*width:460px;
    min-height:280px;_height:280px;
    border:1px solid #CCC;
    background-color:#FFF;
}
.ui-dlg-header{
    height:50px;line-height:50px;overflow:hidden; clear:both;
    background-color:#F3F3F3;
    border-radius:10px 10px 0 0;
    -o-border-radius:10px 10px 0 0;
    -ms-border-radius:10px 10px 0 0;
    -moz-border-radius:10px 10px 0 0;
    -webkit-border-radius:10px 10px 0 0;
}
.ui-dlg-header h1{ float:left;font-size:18px; font-weight:normal; color:#333; text-indent:44px;}
a.ui-dlg-close,a.ui-dlg-close:visited{
    float:right;width:50px;height:50px;
    text-align:center;font-size:50px;line-height:.9;color: #aaa;
}

.ui-dlg-close:hover{text-decoration:none;}
.ui-dlg-msg{
    min-height:90px;_height:80px;
    padding:30px 0;font-size:18px;text-align:center;
}
.ui-dlg-btn{padding:1.5em 0;text-align:center;}
.ui-dlg-btn .ui-btn,
.ui-dlg-btn .ui-btn1{width:133px;margin:0 20px;}
.ui-message{min-height:200px;_height:200px;}
/* CSS Box */
.ui-tip-msg{
    border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.ui-dialog, .rds10{
    border-radius:10px;
    -o-border-radius:10px;
    -ms-border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
